@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

/* Color Codes & Other Variables */
:root {
  --accent-color: #2c51ad;
  --text-color: #000000;
  --highlight-color: rgba(63, 62, 96, 0.12);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

body {
  overflow-x: hidden;
}

.top-logo {
  height: 100px;
}

.top-section {
  width: auto;
  padding: 10px 0px;
  padding-bottom: 100px;
}
/* Styles for Hero Section */

.hero-section {
  display: block;
  min-height: 90vh;
}

.left-hero {
  /* padding: 5% 100px; */
  padding-left: 5%;
  padding-top: 20px;
  min-height: 90vh;
}
.right-hero {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 80px;
}
.hero-image-collage {
  object-fit: contain;
  z-index: -1;
  width: 50vw;
}
.hero-image:before {
  z-index: 999;
  content: "";
  width: 100vw;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  transform: translateX(-37.5%);
  background: var(--accent-color);
}
.hero-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-title h1 {
  font-size: 6em;
  font-weight: 800;
  color: var(--accent-color);
}
.hero-title .year {
  font-size: 1.65em;
  font-weight: 600;
  color: var(--accent-color);
  z-index: 1;
}
.hero-title .year:after {
  content: "";
  z-index: 1;
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translateY(-45%) translateX(-85%);
  background: var(--highlight-color);
}
.hero-text .date {
  font-weight: 600;
}
.hero-text p {
  margin-top: 25px;
  text-align: justify;
  font-size: 1.1em;
  width: 80%;
  font-weight: 500;
}

.call-to-action {
  padding: 15px 40px;
  color: white;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all ease-in-out 0.25s;
}
.call-to-action:hover {
  padding: 15px 45px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.learn-more-action {
  padding: 15px 40px;
  color: var(--accent-color);
  background: white;
  border: 2px solid var(--accent-color);
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
  border-radius: 50px;
}

.learn-more-action:hover {
  padding: 15px 45px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.hero-actions {
  width: 100%;
  padding: 30px 0px;
}
@media only screen and (max-width: 1080px) {
  .hero-image:before {
    content: none;
  }
  .hero-image-collage {
    width: 0;
    height: 0;
  }
  .right-hero {
    display: none;
  }
  .hero-text p {
    width: 150%;
  }
  .hero-actions {
    width: 150%;
  }
  .hero-section {
    min-height: auto;
  }
  .left-hero {
    min-height: auto;
  }
}
/* For Mobile Screens */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  .hero-text p {
    width: 90%;
  }
  .hero-title h1 {
    font-size: 3em;
    font-weight: 800;
  }
  .left-hero {
    margin-left: 20px;
  }
  .hero-section .row {
    margin: 0;
  }
  .learn-more-action {
    padding: 15px 25px;
  }
  .learn-more-action:hover {
    padding: 15px 30px;
  }
  .call-to-action {
    padding: 15px 25px;
  }
  .call-to-action:hover {
    padding: 15px 30px;
  }
  .hero-actions {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }
}
/* For Mobile Screens */
@media only screen and (max-width: 380px) {
  .hero-title h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  .hero-text p {
    width: 90%;
  }
  .left-hero {
    margin-left: 15px;
  }
  .learn-more-action {
    padding: 15px 15px;
  }
  .learn-more-action:hover {
    padding: 15px 18px;
  }
  .call-to-action {
    padding: 15px 15px;
  }
  .call-to-action:hover {
    padding: 15px 18px;
  }
}

/* Styles for Schedule Section */

.schedule-section {
  display: block;
  min-height: 90vh;
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 100px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.schedule-card {
  margin-right: 40px;
  cursor: pointer;
  display: inline-block;
  height: 375px;
  width: 55%;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.schedule-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  padding-left: 5%;
  padding-top: 70px;
}

.schedule-title h1 {
  font-weight: 700;
  color: var(--accent-color);
  font-size: 3em;
}

.schedule-left {
  float: left;
  width: 40%;
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.schedule-left h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4vw;
  color: var(--accent-color);
}

.schedule-left p {
  text-transform: uppercase;
  font-size: 1.4vw;
  color: var(--accent-color);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.schedule-right {
  float: right;
  width: 60%;
  background-color: var(--accent-color);
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 20px;
}

.schedule-right h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5vw;
}

.schedule-right h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2vw;
}

.schedule-right h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
}

.schedule-right h4{
  color: white;
  font-weight: 600;
  font-size: 1.3vw;
  margin-top: 160px;
  text-transform: uppercase;
}

.schedule-right h4 span {
  float: right;
  padding-right: 20px;
  color: white;
  text-transform: capitalize;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .schedule-section {
    min-height: auto;
  }
}

/* For Mobile Screens */
@media only screen and (max-width: 767px) {
 .schedule-card {
    width: 500px;
    height: 275px;
  }

  .schedule-left{
    width: 35%;
    padding-left: 10px;
  }

  .schedule-right {
    width: 65%;
    padding-left: 15px;
  }

  .schedule-left h1 {
    font-size: 7.5vw;
  }
  
  .schedule-left p {
    font-size: 4.5vw;
  }

  .schedule-right h1 {
    font-size: 6.5vw;
  }
  
  .schedule-right h2 {
    font-size: 5.5vw;
  }
  
  .schedule-right h5 {
    font-size: 5vw;
  }
  
  .schedule-right h4 {
    font-size: 4vw;
    margin-top: 95px;
  }

  .schedule-right h4 span {
    padding-right: 0px;
  }

  .schedule-section {
    min-height: auto;
  }
}

/* Styles for Speakers Section */

.sp-section {
  display: block;
  overflow: hidden;
}

.speaker-square {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  background: var(--accent-color);
  color: white;
  position: relative;
}
.speaker-square .content {
  position: absolute;
  top: 25px;
  left: 25px;
}

.speaker-square .content .big {
  font-size: 6.5em;
  color: white;
  font-weight: 700;
}
.speaker-square .content .small {
  font-size: 1.55em;
  color: white;
  font-weight: 500;
}

.speaker-card {
  width: 100%;

  position: relative;
  background: var(--accent-color);
}
.speaker-card .speaker-img {
  width: 100%;
}
.speaker-card .speaker-details {
  position: absolute;
  top: calc(100% - 80px);
  left: 0;
  right: 0;
  background: var(--accent-color);
  padding: 15px 30px;
  min-height: 100%;
  transition: top 1s ease-in-out;
}
.speaker-card .speaker-details .speaker-name {
  color: white;
  font-weight: 600;
  font-size: 1.25em;
}
.speaker-card .speaker-details .speaker-designation {
  color: white;
  font-weight: 400;
  font-size: 1em;
}

.speaker-card .speaker-details .speaker-description {
  color: white;
  margin-top: 10px;
}

.speaker-card:hover > .speaker-details {
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.speaker-card:hover > .speaker-details > .speaker-description {
  display: block;

  width: auto;
  height: auto;
}

#spea-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .speaker-square .content .big {
    font-size: 5em;
  }
}
/* Using 767 instead of 768 to fix weird issues on iPad */
@media only screen and (max-width: 767px) {
  .speaker-square .content .small {
    display: none;
  }
  #kers {
    display: none;
  }
  #spea-desktop {
    display: none;
  }
  #spea-mobile {
    display: block;
  }
  .speaker-square .content .big {
    font-size: 4em;
  }
  #spea-mobile .content .small {
    display: block;
    letter-spacing: 1.5px;
  }
  .speaker-card .speaker-details .speaker-name {
    color: white;
    font-weight: 600;
    font-size: 1.5em;
  }
  .speaker-card .speaker-details .speaker-designation {
    color: white;
    font-weight: 400;
    font-size: 1.25em;
  }

  .speaker-card .speaker-details .speaker-description {
    color: white;
    margin-top: 10px;
    font-size: 1.15em;
  }

  .speaker-card .speaker-details {
    top: calc(100% - 90px);
  }
}
/* Styles for Footer Area */

.footer-area {
  background: var(--highlight-color);
  padding: 25px 0px;
}

.copyright {
  font-size: 1.2em;
  font-weight: 600;
  color: #444444;
}
.handles {
  font-family: "Montserrat";
  color: var(--accent-color);
  font-weight: 500;
  transition: all ease-in 0.25s;
}
.handles:hover {
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .copyright {
    font-size: 0.75em;
  }
  .madeby {
    font-size: 0.65em;
  }
}

/* Styles For Highlight Section */

.highlight-clean {
  color: var(--text-color);
  background-color: #fff;
  padding: 100px 0;
}

.highlight-clean p {
  color: var(--text-color);
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: var(--accent-color);
  color: #fff;
}

/* Styles for sponsors section */

.sponsors-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  padding-left: 5%;
  padding-top: 70px;
}

.sponsors-title h1 {
  font-weight: 700;
  font-size: 3em;
  color: var(--accent-color);
}

.sponsors-section {
  min-height: 50vh;
}
.sponsor-image {
  width: 80%;
  padding: 20px 0px;
}
#pb {
  width: 70%;
}
.sponsors-section .sponsors-left
{  padding-top: 75px;
}

.collab-image {
  width: 50%;
  height: auto;
}
#dsc {
  height: 100%;
}
#acm {
  width: 125px;
  height: 125px;
  margin: 25px 10px;
}

#chitkara {
  width: 75%;
}
.sponsors-section .sponsors-right {
padding-top:50px;
}
