@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

/* Color Codes & Other Variables */
:root {
  --accent-color: #3f3e60;
  --highlight-color: rgba(63, 62, 96, 0.12);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Styles for Hero Section */

.hero-section {
  display: block;
}

/* Styles for Schedule Section */

.schedule-section {
  display: block;
}

/* Styles for Sponsors & Speakers Section */

.sp-section {
  display: block;
}

/* Styles for Footer Area */

.footer-area {
  display: block;
}
