@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

/* Color Codes & Other Variables */
:root {
  --accent-color: #3f3e60;
  --highlight-color: rgba(63, 62, 96, 0.12);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
}

body {
  overflow-x: hidden;
}

.top-logo {
  height: 100px;
}

.top-section {
  width: auto;
  padding: 10px 0px;
  padding-bottom: 100px;
}
/* Styles for Hero Section */

.hero-section {
  display: block;
  min-height: 100vh;
}

.left-hero {
  /* padding: 5% 100px; */
  padding-left: 5%;
  padding-top: 20px;
  min-height: 100vh;
}
.right-hero {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
margin-top: 80px;
}
.hero-image-collage {
  object-fit: contain;
  z-index: -1;
  width: 50vw;
}
.hero-image:before {
  z-index: 999;
  content: "";
  width: 100vw;
  height: 2.5px;
  display: inline-block;
  position: absolute;
  transform: translateX(-37.5%);
  background: var(--accent-color);
}
.hero-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-title h1 {
  font-size: 6em;
  font-weight: 800;
}
.hero-title .year {
  font-size: 1.65em;
  font-weight: 600;
  z-index: 1;
}
.hero-title .year:after {
  content: "";
  z-index: 1;
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translateY(-45%) translateX(-85%);
  background: var(--highlight-color);
}
.hero-text .date {
  font-weight: 600;
}
.hero-text p {
  margin-top: 25px;
  text-align: justify;
  font-size: 1.1em;
  width: 80%;
  font-weight: 500;
}

.call-to-action {
  padding: 15px 40px;
  color: white;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all ease-in-out 0.25s;
}
.call-to-action:hover {
  padding: 15px 45px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.learn-more-action {
  padding: 15px 40px;
  color: var(--accent-color);
  background: white;
  border: 2px solid var(--accent-color);
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
  border-radius: 50px;
}

.learn-more-action:hover {
  padding: 15px 45px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.hero-actions {
  width: 100%;
  padding: 30px 0px;
}
@media only screen and (max-width:1080px){
  .hero-image:before{
    content: none;
  }
  .hero-image-collage{
    width: 0;
    height: 0;
  }
  .right-hero{
    display: none;
  }
  .hero-text p{
    width: 150%;
  }
  .hero-actions{
    width: 150%;
  }
}
/* For Mobile Screens */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
    .hero-text p{
    width: 90%;
  }
  .hero-title h1 {
    font-size: 3em;
    font-weight: 800;
  }
  .left-hero {
    margin-left: 20px;
  }
  .hero-section .row {
    margin: 0;
  }
  .learn-more-action {
    padding: 15px 25px;
  }
  .learn-more-action:hover {
    padding: 15px 30px;
  }
  .call-to-action {
    padding: 15px 25px;
  }
  .call-to-action:hover {
    padding: 15px 30px;
  }
  .hero-actions {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }
}
/* For Mobile Screens */
@media only screen and (max-width: 362px) {
  .hero-title h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  .hero-text p {
    width: 90%;
  }
  .left-hero {
    margin-left: 15px;
  }
  .learn-more-action {
    padding: 15px 15px;
  }
  .learn-more-action:hover {
    padding: 15px 18px;
  }
  .call-to-action {
    padding: 15px 15px;
  }
  .call-to-action:hover {
    padding: 15px 18px;
  }
}

/* Styles for Schedule Section */
.schedule-section {
  display: block;
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 100px;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horizontal-scroll div {
  margin-right: 40px;
  cursor: pointer;
  display: inline-block;
  height: 400px;
  width: 55%;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.schedule-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  padding-left: 5%;
  padding-top: 70px;
}

.schedule-title h1 {
  font-weight: bold;
}

/* For Mobile Screens */
@media only screen and (max-width: 768px) {
  .horizontal-scroll div {
    width: 400px;
    height: 300px;
  }
}

/* Styles for Sponsors & Speakers Section */

.sp-section {
  display: block;
}

/* Styles for Footer Area */

.footer-area {
  display: block;
}
